:root {
    --text-color: #434455;
    --background-color: #FFFFFFFF;
    --dark-blue-var: #2e2f42;
    --blue: #4d5ae5;
    --light-color: #F4F4F4FD;
    --iris: #404bbf;
}


.body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFFFF;
}
.body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}
.nav-bar-container {
    color: #2e2f42;
    text-decoration: none;
}

.nav-bar-container:hover {
    color: var(--iris);
}

.nav-bar-container:focus {
    color: var(--iris);
}

.link {
    text-decoration: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.span-logo-header {
    color: #2e2f42;
}

.list {
    list-style: none;
    text-decoration: none;
}

.nav-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}

.nav-list-item:hover {
    color: #404BBF;
}

.nav-list-item:focus {
    color: #404bbf;
}

.address-class {
    font-style: normal;
    text-decoration: none;
    color: var(--text-color)
}

.address-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.address-list:hover {
    color: #404bbf;
}

.address-list:focus {
    color: #404bbf;
}


.list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.list-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.paragraph-four {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}



.nav-link:focus {
    color: #404bbf;
}

.section-style {
    background-color: #2e2f42;
}

.section-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.button-order-service {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.button-order-service:focus {
    background-color: #404bbf;
}

.button-order-service:hover {
    background-color: #404bbf;
}

.section-three-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.section-four {
    background-color: #F4F4FD;
    color: var(--text-color);
}

.element-list-four {
    background-color: #FFFFFFFF;
}


.footerstyle {
    background-color: #2e2f42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.link {
    text-decoration: none;
}

.span-logo-footer {
    color: #F4F4FD;
}

.footerp {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

.button-portfolio {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    text-decoration: none;
    cursor: pointer;
}


.button-portfolio:hover {
    color: #FFFFFFFF;
    background-color: #404BBF;
}

.button-portfolio:focus {
    color: #FFFFFFFF;
    background-color: #404BBF;
}

.portfolio-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.project-link {
    color: var(--text-color);
}
/* Footer Styles */
.footerstyle {
    background-color: var(--dark-blue-var);
    color: var(--light-color);
    padding: 20px 0;
    text-align: left;
}